.arrange-children-vertically,
.arrange-children-horizontally {
  display: flex;
  width: 100%;
}
.arrange-children-horizontally {
  flex-direction: row;
}
.arrange-children-vertically {
  flex-direction: column;
}
.center {
  margin: 0 auto;
  text-align: left;
}
.center ol {
  list-style: circle;
}
.btn {
  margin: auto;
}
