#paint {
  padding-left: 10%;
  width: 80%;
}
#paint #pixel-container {
  flex-wrap: wrap;
  max-width: 1500px;
  min-width: 400px;
}
#paint #pixel-container > .pixel {
  box-sizing: border-box;
  width: 4%;
  padding-top: 4%;
  border: 1px solid black;
}
#paint #pixel-container > .pixel:hover {
  background-color: white;
}
#paint .pixel-checkbox {
  display: none;
  margin: 0;
}
#paint #black:checked ~ #pixel-container > .pixel-checkbox:checked + .pixel {
  background-color: black;
}
#paint #red:checked ~ #pixel-container > .pixel-checkbox:checked + .pixel {
  background-color: red;
}
#paint #blue:checked ~ #pixel-container > .pixel-checkbox:checked + .pixel {
  background-color: red;
}
