body {
  background-color: aliceblue;
  text-align: center;
}
.banner {
  text-decoration: underline;
  font-size: 75px;
  text-align: center;
  height: 100px;
}
#tag-line {
  font-size: 25px;
}
.most-of-the-text {
  background-color: floralwhite;
  border: 2px solid black;
}
#description {
  padding: 10px;
  text-align: center;
}
#paint {
  flex-wrap: wrap;
}
.pixel {
  /*hack to try force 5 even boxes per row*/
  width: 4.9%;
  padding-top: 4.9%;
  border: 1px solid black;
}
.pixelCheckbox {
  display: none;
}
.pixelCheckbox:checked + .pixel {
  background-color: black;
}
#footer {
  border-top: 2px solid black;
  min-height: 25px;
  text-align: center;
}
.vertical-flex,
.horizontal-flex {
  display: flex;
  width: 100%;
}
.horizontal-flex {
  flex-direction: row;
}
.vertical-flex {
  flex-direction: column;
}
ol {
  list-style: circle;
}
