#paint {
  padding-left: 10%;
  width: 80%;
}
#paint > #pixel-container {
  flex-wrap: wrap;
  max-width: 1500px;
  min-width: 400px;
}
#paint > #pixel-container > .pixel {
  box-sizing: border-box;
  width: 4%;
  padding-top: 4%;
  border: 1px solid black;
}
#paint > #pixel-container > .pixel:hover {
  background-color: red;
}
.pixelCheckbox {
  display: none;
  margin: 0;
}
.pixelCheckbox:checked + .pixel {
  background-color: black;
}
.arrange-children-vertically,
.arrange-children-horizontally {
  display: flex;
  width: 100%;
}
.arrange-children-horizontally {
  flex-direction: row;
}
.arrange-children-vertically {
  flex-direction: column;
}
ol {
  list-style: circle;
}
body {
  background-color: aliceblue;
  text-align: center;
}
.banner {
  text-decoration: underline;
  font-size: 75px;
  text-align: center;
  height: 100px;
}
#tag-line {
  font-size: 25px;
}
.main-body {
  background-color: floralwhite;
  border: 2px solid black;
}
#description {
  padding: 10px;
}
#description > p {
  width: 100%;
  text-align: center;
}
#footer {
  border-top: 2px solid black;
  min-height: 25px;
  text-align: center;
}
