#paint {
  flex-wrap: wrap;
}
.pixel {
  /*Below ensures there is space for @number-per-row pixels*/
  width: calc(6.25%);
  padding-top: calc(6.25%);
  border: 1px solid black;
}
.pixel:hover {
  background-color: red;
}
.pixelCheckbox {
  display: none;
}
.pixelCheckbox:checked + .pixel {
  background-color: black;
}
.arrange-children-vertically,
.arrange-children-horizontally {
  display: flex;
  width: 100%;
}
.arrange-children-horizontally {
  flex-direction: row;
}
.arrange-children-vertically {
  flex-direction: column;
}
ol {
  list-style: circle;
}
body {
  background-color: aliceblue;
  text-align: center;
}
.banner {
  text-decoration: underline;
  font-size: 75px;
  text-align: center;
  height: 100px;
}
#tag-line {
  font-size: 25px;
}
.main-body {
  background-color: floralwhite;
  border: 2px solid black;
}
#description {
  padding: 10px;
  text-align: center;
}
#footer {
  border-top: 2px solid black;
  min-height: 25px;
  text-align: center;
}
